### Import Libraries

In [1]:
#import
import os

import pandas as pd
import numpy as np

In [2]:
#plotting libraries and setting defaults

%matplotlib inline

import seaborn as sns
from seaborn import plt

# Some nice default configuration for plots
plt.rcParams['figure.figsize'] = 10, 7.5
plt.rcParams['axes.grid'] = True

### Load Data

In [3]:
offers_df = pd.read_csv('/Users/rychughes/GA/AVS-Kaggle-Data/offers.gz', 
                        compression='gzip') 
print offers_df.shape
print offers_df.head(3)

(37, 6)
     offer  category  quantity    company  offervalue  brand
0  1190530      9115         1  108500080        5.00  93904
1  1194044      9909         1  107127979        1.00   6732
2  1197502      3203         1  106414464        0.75  13474

In [2]:
train_hist_df = pd.read_csv('/Users/rychughes/GA/data/trainHistory.csv.gz', 
                        compression='gzip') 
print train_hist_df.shape
print train_hist_df.head(3)

NameError: name 'pd' is not defined

In [1]:
test_hist_df = pd.read_csv('/Users/rychughes/GA/data/testHistory.csv.gz', 
                        compression='gzip') 
print test_hist_df.shape
print test_hist_df.head(3)

NameError: name 'pd' is not defined

In [5]:
#merge
train_hist_offers_df = pd.merge( train_hist_df, offers_df, how='inner')

print train_hist_offers_df.shape
train_hist_offers_df.head(5)

(160057, 12)

,id,chain,offer,market,repeattrips,repeater,offerdate,category,quantity,company,offervalue,brand
0,86246,205,1208251,34,5,t,2013-04-24,2202,1,104460040,2,3718
1,15753725,17,1208251,4,0,f,2013-04-24,2202,1,104460040,2,3718
2,16535563,4,1208251,1,7,t,2013-04-27,2202,1,104460040,2,3718
3,18259179,3,1208251,2,0,f,2013-04-24,2202,1,104460040,2,3718
4,21024070,15,1208251,9,1,t,2013-04-23,2202,1,104460040,2,3718

%%bash
gunzip /Users/rychughes/GA/AVS-Kaggle-Data/transactions.csv.gz -c | wc -l
#349655790 is output

In [8]:
col_df = pd.read_csv( '/Users/rychughes/GA/AVS-Kaggle-Data/transactions.csv.gz', compression='gzip', nrows=1) 
col_headers = list( col_df.columns.values)
col_headers

['id',
 'chain',
 'dept',
 'category',
 'company',
 'brand',
 'date',
 'productsize',
 'productmeasure',
 'purchasequantity',
 'purchaseamount']

In [14]:
#iterate through dataset in sets of rows

#create empty df to append too
train_df = pd.DataFrame()

col_df = pd.read_csv( '/Users/rychughes/GA/AVS-Kaggle-Data/transactions.csv.gz', compression='gzip', nrows=1)
col_headers = list( col_df.columns)
#print col_headers

n=0
chunk_rows = 1000000
#rows_hist_train = 5000000 #test
rows_hist_train = 349655790 #actual figure, from bash cmd

#iterate through transactions
for skip_rows in range( 0, rows_hist_train, chunk_rows):
    temp_df = pd.read_csv('/Users/rychughes/GA/AVS-Kaggle-Data/transactions.csv.gz', 
                          compression= 'gzip', 
                          nrows= row_size, 
                          #header= col_headers, 
                          skiprows= skip_rows)
    
    #test
    print n
    n = n+1
    
    #output
    temp_df.columns = col_headers
    temp_df = pd.merge( temp_df, train_hist_offers_df, how='inner')
    train_df = train_df.append( temp_df)

#write to csv
train_df.to_csv('/Users/rychughes/GA/AVS-Kaggle-Data/df_train_v1.csv')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208

CParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [12]:
print train_df.shape
train_df.head(4)

(599, 18)

,id,chain,dept,category,company,brand,date,productsize,productmeasure,purchasequantity,purchaseamount,offer,market,repeattrips,repeater,offerdate,quantity,offervalue
0,86252,205,32,3203,106414464,13474,2012-06-07,5.00,OZ,1,2.99,1197502,34,16,t,2013-03-27,1,0.75
1,86252,205,32,3203,106414464,13474,2013-03-03,5.00,OZ,1,1.99,1197502,34,16,t,2013-03-27,1,0.75
2,13807224,4,56,5616,104610040,15889,2012-08-01,6.67,OZ,1,3.00,1204576,1,0,f,2013-04-05,1,1.00
3,13807224,4,56,5616,104610040,15889,2012-08-01,7.50,OZ,1,3.00,1204576,1,0,f,2013-04-05,1,1.00

In [13]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 599 entries, 0 to 108
Data columns (total 18 columns):
id                  599 non-null int64
chain               599 non-null int64
dept                599 non-null int64
category            599 non-null int64
company             599 non-null int64
brand               599 non-null int64
date                599 non-null object
productsize         599 non-null float64
productmeasure      599 non-null object
purchasequantity    599 non-null int64
purchaseamount      599 non-null float64
offer               599 non-null int64
market              599 non-null int64
repeattrips         599 non-null int64
repeater            599 non-null object
offerdate           599 non-null object
quantity            599 non-null int64
offervalue          599 non-null float64
dtypes: float64(3), int64(11), object(4)
memory usage: 88.9+ KB

### Explore data